body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to bottom,
    rgb(218, 120, 0),
    rgb(6, 37, 6),
    rgb(6, 37, 6),
    rgb(0, 139, 194),
    #ffe0b2,
    rgb(0, 0, 85),
    rgb(255, 69, 113),
    black,
    #4b004b,
    rgb(2, 0, 31),
    lightgray,
    white,
    black
  );
  color: white;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 90px;
  text-shadow: 4px 4px 8px #000;
  margin-top: 50px;
}

h2 {
  text-align: center;
  color: #f2ff0033;
  font-size: 30px;
  text-shadow: 4px 4px 8px #000;
  margin-top: 10px;
}

.album {
  text-align: center;
  margin: 70px 0;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000000;
}

.album img {
  width: 400px;
  border: 2px solid #fff;
  padding: 10px;
  background-color: black;
  box-shadow: 0 0 10px #000;
  border-radius: 8px;
}

.album-info {
  margin-top: 20px;
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 3px black;
}
