*{
    box-sizing: border-box;
}

#menu{
    width: 100%;
    padding: 1rem;
    background-color: black;
    position: fixed;
}

a{
    margin-right: 1rem;
    font-style: unset;
    color: white;
    text-decoration: none;
}

h2{
    width: 100%;
    padding: 1rem;
    background-color: rgb(37, 37, 37);
    color: white;
}

p{
    width: 75%;
    padding: 1rem;
    background-color: lightgrey;
    margin: 0 auto;
}

main{
    margin-top: 3rem;
}

#flechita{
    right: 0px;
    bottom: 1rem;
    position: fixed;
}

#flechita>a>button{
    background-color: black;
    color: white;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
}